<h3>Not to be mistaken for GoodReads, of course! </h3>

<p>Asha Golveo is the developer of Good Books. It's not much, but it's something....</p>
<p>Good Books will be updated with more functionality and styling, coming soon!</p> 


<p>You can find Asha on:
<br>
<%= link_to 'Twitter', 'https://twitter.com/auntie_Jing' %>
<br>
<%= link_to 'Github', 'https://github.com/ashag' %>
</p>