<h5>Asha Golveo is the developer of Good Books</h5> 
<p>Not to be mistaken for Good Reads, of course! </p>

<p>You can find her on:
<br>
<%= link_to 'Twitter', 'https://twitter.com/auntie_Jing' %>
<br>
<%= link_to 'Github', 'https://github.com/ashag' %>
</p>